<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter form V2</title>
</head>
<body>
    <h1>Greeter form V2</h1>
   
    <form action="/greet-2">
        <input type="text" placeholder="your name" name="username" /> 
        <label for ="compliments">Do you want compliments?</label>
        <input type="checkbox" placeholder="checkbox" name="wants_compliments" />
        <button>Submit</button>
    </form>
</body>
</html>